# STEP 0 - Preprocessing of the Foursquare DataSet

Here, the dataset is analyzed and afterwards preprocessed.

## Imports

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

nyc_venues = create_engine('sqlite:///_nyc_venues.db')

## Data Analysis

First, we read the dataset into a database in order to get a general understanding. We have the columns:
* user_id
* venue
* category_id
* category_name
* latitude
* longitude
* time_offset
* time

In [2]:
df = pd.read_csv("./4square/dataset_TSMC2014_NYC.txt", sep="\t",
                 names=["user_id", "venue", "category_id", "category_name",
                        "latitude", "longitude", "time_offset", "time"])
print(df.head(10))

df.to_sql('nyc_venues', con=nyc_venues, if_exists="replace")

   user_id                     venue               category_id  \
0      470  49bbd6c0f964a520f4531fe3  4bf58dd8d48988d127951735
1      979  4a43c0aef964a520c6a61fe3  4bf58dd8d48988d1df941735
2       69  4c5cc7b485a1e21e00d35711  4bf58dd8d48988d103941735
3      395  4bc7086715a7ef3bef9878da  4bf58dd8d48988d104941735
4       87  4cf2c5321d18a143951b5cec  4bf58dd8d48988d1cb941735
5      484  4b5b981bf964a520900929e3  4bf58dd8d48988d118951735
6      642  4ab966c3f964a5203c7f20e3  4bf58dd8d48988d1e0931735
7      292  4d0cc47f903d37041864bf55  4bf58dd8d48988d12b951735
8      428  4ce1863bc4f6a35d8bd2db6c  4bf58dd8d48988d103941735
9      877  4be319b321d5a59352311811  4bf58dd8d48988d10a951735

         category_name   latitude  longitude  time_offset  \
0  Arts & Crafts Store  40.719810 -74.002581         -240
1               Bridge  40.606800 -74.044170         -240
2       Home (private)  40.716162 -73.883070         -240
3       Medical Center  40.745164 -73.982519         -240
4           Food Truck  40.740104 -73.989658         -240
5    Food & Drink Shop  40.690427 -73.954687         -240
6          Coffee Shop  40.751591 -73.974121         -240
7          Bus Station  40.779422 -73.955341         -240
8       Home (private)  40.619151 -74.035888         -240
9                 Bank  40.619006 -73.990375         -240

                             time
0  Tue Apr 03 18:00:09 +0000 2012
1  Tue Apr 03 18:00:25 +0000 2012
2  Tue Apr 03 18:02:24 +0000 2012
3  Tue Apr 03 18:02:41 +0000 2012
4  Tue Apr 03 18:03:00 +0000 2012
5  Tue Apr 03 18:04:00 +0000 2012
6  Tue Apr 03 18:04:38 +0000 2012
7  Tue Apr 03 18:04:42 +0000 2012
8  Tue Apr 03 18:06:18 +0000 2012
9  Tue Apr 03 18:06:19 +0000 2012

In [3]:
res=pd.read_sql_query('SELECT count(*) FROM nyc_venues', nyc_venues)
print(res)

   count(*)
0    227428

There are 227.428 rows in the dataset. Those are all checkins from users in NYC.

In [4]:
res=pd.read_sql_query('SELECT count(*) FROM nyc_venues '+
        'WHERE time IS NULL '+
        'OR user_id IS NULL ' +
        'OR venue IS NULL ' +
        'OR category_id IS NULL '+
        'OR category_name IS NULL ', nyc_venues)
print(res)

   count(*)
0         0

In [5]:
res=pd.read_sql_query('SELECT count(*)' +
        'FROM nyc_venues WHERE ((latitude IS null) OR ' +
        '(latitude = 0.000000) OR (longitude IS null) OR ' +
        '(longitude = 0.000000))', nyc_venues)

print(res)

   count(*)
0         0

It can be concluded that there are no incomplete or invalid rows.

Next, the user data is analyzed. Here, the number of checkins of the best and worst users are important measurements.

In [6]:
res=pd.read_sql_query('SELECT user_id, "count" FROM ' +
            '(SELECT count(user_id) as "count", user_id FROM nyc_venues GROUP BY user_id)' +
            'ORDER BY "count" DESC LIMIT 10', nyc_venues)

print(res)

   user_id  count
0      293   2697
1      185   2079
2      354   2061
3      315   1682
4       84   1376
5      349   1369
6      384   1116
7      974   1107
8      768   1096
9      445    952

In [7]:
res=pd.read_sql_query('SELECT user_id, "count" FROM ' +
            '(SELECT count(user_id) as "count", user_id FROM nyc_venues GROUP BY user_id)' +
            'ORDER BY "count" ASC LIMIT 10', nyc_venues)

print(res)

   user_id  count
0       18    100
1       92    100
2      247    100
3      268    100
4      324    100
5      369    100
6      394    100
7      426    100
8      451    100
9      671    100

In [8]:
res=pd.read_sql_query('SELECT AVG(count) FROM (SELECT user_id, "count" FROM ' +
            '(SELECT count(user_id) as "count", user_id FROM nyc_venues GROUP BY user_id))', nyc_venues)

print(res)

   AVG(count)
0  209.998153

In [9]:
res =pd.read_sql_query('SELECT count(distinct(user_id)) FROM nyc_venues', nyc_venues)

print(res)

   count(distinct(user_id))
0                      1083

There are 1083 users in the dataset.
The best users have over 2000 checkins. An average user has over 200 checkins.
This number can be seen as reasonable. The locations also have to be checked.

In [10]:
res=pd.read_sql_query('SELECT count(distinct(venue)) FROM nyc_venues', nyc_venues)

print(res)

   count(distinct(venue))
0                   38333

In [11]:
res=pd.read_sql_query('SELECT AVG(a) FROM (' +
    'SELECT count(distinct(venue)) as a, user_id FROM nyc_venues GROUP BY user_id) ' , nyc_venues)

print(res)

      AVG(a)
0  84.048015

There are 38.333 different venues. Every user visits 84 venues on average.
It has to be considered that every user only does 200 checkins on average.
In perspective, this number is too high.
It can be expected that a model trained on so many locations will be very inaccurate.

In [12]:
res=pd.read_sql_query('SELECT time, category_name FROM nyc_venues WHERE user_id=293 LIMIT 50', nyc_venues)

print(res)

                              time                  category_name
0   Tue Apr 03 23:56:43 +0000 2012                         Subway
1   Wed Apr 04 00:19:13 +0000 2012           Other Great Outdoors
2   Wed Apr 04 00:19:44 +0000 2012                            Bar
3   Wed Apr 04 00:21:12 +0000 2012                     Smoke Shop
4   Wed Apr 04 04:53:06 +0000 2012                   Neighborhood
5   Wed Apr 04 04:53:36 +0000 2012           Other Great Outdoors
6   Wed Apr 04 05:08:28 +0000 2012                    Bus Station
7   Wed Apr 04 15:38:43 +0000 2012                 Home (private)
8   Wed Apr 04 16:16:45 +0000 2012                 Home (private)
9   Wed Apr 04 16:18:34 +0000 2012                 General Travel
10  Wed Apr 04 16:20:07 +0000 2012                         Subway
11  Wed Apr 04 17:38:40 +0000 2012                         Subway
12  Wed Apr 04 17:40:06 +0000 2012              Electronics Store
13  Wed Apr 04 17:40:29 +0000 2012                         Office
14  Wed Apr 04 18:14:47 +0000 2012                         Subway
15  Wed Apr 04 18:16:52 +0000 2012                           Park
16  Wed Apr 04 18:18:19 +0000 2012  Paper / Office Supplies Store
17  Wed Apr 04 23:55:49 +0000 2012                           Road
18  Wed Apr 04 23:56:33 +0000 2012                         Subway
19  Thu Apr 05 00:18:50 +0000 2012           Other Great Outdoors
20  Thu Apr 05 00:19:52 +0000 2012                   Neighborhood
21  Thu Apr 05 00:20:43 +0000 2012                     Smoke Shop
22  Fri Apr 06 15:35:00 +0000 2012                 Home (private)
23  Fri Apr 06 15:35:52 +0000 2012                 Home (private)
24  Fri Apr 06 16:13:52 +0000 2012                 Home (private)
25  Fri Apr 06 16:20:37 +0000 2012              Food & Drink Shop
26  Fri Apr 06 16:37:17 +0000 2012           Drugstore / Pharmacy
27  Fri Apr 06 16:38:12 +0000 2012                    Bus Station
28  Sat Apr 07 00:14:39 +0000 2012           Other Great Outdoors
29  Sat Apr 07 00:15:58 +0000 2012                     Smoke Shop
30  Sat Apr 07 19:38:56 +0000 2012                 Home (private)
31  Sat Apr 07 19:39:33 +0000 2012                 Home (private)
32  Sat Apr 07 20:56:31 +0000 2012            American Restaurant
33  Sat Apr 07 22:57:10 +0000 2012                 Home (private)
34  Sat Apr 07 23:33:21 +0000 2012                 General Travel
35  Sat Apr 07 23:50:39 +0000 2012           Other Great Outdoors
36  Sat Apr 07 23:52:25 +0000 2012                   Neighborhood
37  Sat Apr 07 23:53:26 +0000 2012                     Smoke Shop
38  Sun Apr 08 07:40:42 +0000 2012           Other Great Outdoors
39  Sun Apr 08 07:41:35 +0000 2012                   Neighborhood
40  Sun Apr 08 08:33:20 +0000 2012                    Bus Station
41  Sun Apr 08 19:31:22 +0000 2012          General Entertainment
42  Mon Apr 09 11:57:14 +0000 2012                 Home (private)
43  Mon Apr 09 11:57:30 +0000 2012                 Home (private)
44  Mon Apr 09 12:32:09 +0000 2012                 Home (private)
45  Mon Apr 09 12:56:28 +0000 2012                    Bus Station
46  Mon Apr 09 16:26:07 +0000 2012                 General Travel
47  Mon Apr 09 16:27:46 +0000 2012                         Subway
48  Mon Apr 09 17:11:15 +0000 2012                           Park
49  Tue Apr 10 00:22:25 +0000 2012           Other Great Outdoors

The checkin times are as expected. On most days, there are many checkins.
The data is continuous and can thus be used.

In order to decrease the number of locations, the categories can be used instead.
As a result the prediction becomes more semantic (what kind of place) instead of physical (latitude/longitude).

In [13]:
res=pd.read_sql_query('SELECT DISTINCT(category_id) AS ID, category_name FROM nyc_venues', nyc_venues)
print(res)

                           ID         category_name
0    4bf58dd8d48988d127951735   Arts & Crafts Store
1    4bf58dd8d48988d1df941735                Bridge
2    4bf58dd8d48988d103941735        Home (private)
3    4bf58dd8d48988d104941735        Medical Center
4    4bf58dd8d48988d1cb941735            Food Truck
..                        ...                   ...
395  5032897c91d4c4b30a586d69           Pet Service
396  4f04b08c2fb6e1c99f3db0bd    Miscellaneous Shop
397  4eb1c0ed3b7b52c0e1adc2ea              Ski Area
398  5032856091d4c4b30a586d63                Office
399  5032848691d4c4b30a586d61  Other Great Outdoors

[400 rows x 2 columns]

In [14]:
res=pd.read_sql_query('SELECT COUNT(DISTINCT(category_id)) FROM nyc_venues', nyc_venues)

print(res)

   COUNT(DISTINCT(category_id))
0                           400

In [15]:
res=pd.read_sql_query('SELECT category_name, COUNT(*) FROM nyc_venues GROUP BY category_id ORDER BY COUNT(*) DESC', nyc_venues)

print(res)

            category_name  COUNT(*)
0          Home (private)     15334
1                  Office      9614
2                  Subway      9348
3             Coffee Shop      7510
4                     Bar      6188
..                    ...       ...
395  Other Great Outdoors         1
396              Ski Area         1
397              Ski Area         1
398    Miscellaneous Shop         1
399          Music School         1

[400 rows x 2 columns]

In [16]:
res=pd.read_sql_query('SELECT a.* FROM (SELECT category_name, COUNT(*) AS num FROM nyc_venues GROUP BY category_name ORDER BY num DESC) a WHERE a.num < 10', nyc_venues)
print(res)

               category_name  num
0   Bike Rental / Bike Share    9
1      Portuguese Restaurant    9
2                 Distillery    8
3              Internet Cafe    6
4     Gluten-free Restaurant    5
5          Afghan Restaurant    4
6             Sorority House    4
7                Pet Service    3
8                     Castle    2
9            Motorcycle Shop    2
10           Photography Lab    2
11              Music School    1

There are 400 different categories of venues in the dataset.
This number still seems quite high.
Especially as some categories seem to be duplicated or used only for a small number of checkins.
A possible solution is to group them in super categories.

## Pre-processing

The categories are exported in a .csv file custom uber categories are created.
This is done for every category_name instead of the id in order to account for duplicates.

In [17]:
unprocessed = df.copy()

In [18]:
res=pd.read_sql_query('SELECT category_name, COUNT(*) FROM nyc_venues GROUP BY category_name ORDER BY COUNT(*) DESC', nyc_venues)
res.to_csv('././4square/categories.csv', index=False)

In [19]:
uber = create_engine('sqlite:///_uber.db')
df = pd.read_csv("./4square/uber_cat.csv", sep=",")

print(df.head(10))

df.to_sql('uber', con=uber, if_exists="replace")

      uber_category         category_name  COUNT(*)
0               Bar                   Bar     15978
1              Home        Home (private)     15382
2              Work                Office     12740
3  Public Transport                Subway      9348
4            Sports  Gym / Fitness Center      9171
5              Cafe           Coffee Shop      7510
6           Grocery     Food & Drink Shop      6596
7  Public Transport         Train Station      6408
8              Park                  Park      4804
9              Home          Neighborhood      4604

In [20]:
res=pd.read_sql_query('SELECT DISTINCT uber_category, COUNT(*) FROM uber GROUP BY uber_category ORDER BY COUNT(*) DESC', uber)
print(res)

            uber_category  COUNT(*)
0              Restaurant        68
1                Shopping        30
2           Entertainment        18
3                  School        17
4                 Culture        12
5                 Service        11
6                  Snacks        11
7        Public Transport        10
8           Misc Shopping         8
9                Outdoors         7
10               Religion         7
11              Cosmetics         5
12                  Event         5
13                   Home         5
14         Infrastructure         5
15                   Misc         5
16                   Cafe         4
17  Gas Station / Parking         3
18             Government         3
19                   Park         3
20                 Sports         3
21                   Work         3
22                    Bar         2
23                Grocery         2
24                Medical         2
25               Building         1
26                  Hotel         1

There are 27 uber categories that group the former semantically similar categories together.

Next, the uber categories are joined with our regular dataset.

In [21]:
ubers=pd.read_sql_query('SELECT DISTINCT uber_category, category_name FROM uber', uber)

In [22]:
merged = unprocessed.merge(ubers, on='category_name', suffixes=('', '_y'), how='left')
merged.head(10)

,user_id,venue,category_id,category_name,latitude,longitude,time_offset,time,uber_category
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012,Shopping
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012,Infrastructure
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012,Home
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012,Medical
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012,Snacks
5,484,4b5b981bf964a520900929e3,4bf58dd8d48988d118951735,Food & Drink Shop,40.690427,-73.954687,-240,Tue Apr 03 18:04:00 +0000 2012,Grocery
6,642,4ab966c3f964a5203c7f20e3,4bf58dd8d48988d1e0931735,Coffee Shop,40.751591,-73.974121,-240,Tue Apr 03 18:04:38 +0000 2012,Cafe
7,292,4d0cc47f903d37041864bf55,4bf58dd8d48988d12b951735,Bus Station,40.779422,-73.955341,-240,Tue Apr 03 18:04:42 +0000 2012,Public Transport
8,428,4ce1863bc4f6a35d8bd2db6c,4bf58dd8d48988d103941735,Home (private),40.619151,-74.035888,-240,Tue Apr 03 18:06:18 +0000 2012,Home
9,877,4be319b321d5a59352311811,4bf58dd8d48988d10a951735,Bank,40.619006,-73.990375,-240,Tue Apr 03 18:06:19 +0000 2012,Service

The first processed dataset is supposed to be minimalistic.
It should contain the time components and the uber category.
The time is split in different features.
The reason for that is a more accurate model training.
For example, it is easier to distinguish daily, monthly and hourly trends.
Week days are also important.
Especially working days and weekends can be distinguished (maybe by addition of a dedicated feature, i.e. "is_weekend").
The user information has to be kept, too.
Because the data must be sequenced for every user.

In [23]:
def is_weekend(week_day):
    return week_day > 4

In [24]:
merged["time"] = pd.to_datetime(merged["time"])

merged["month"] = merged.time.dt.month
merged["day"] = merged.time.dt.day
merged["clock"] = merged.time.dt.hour + merged.time.dt.minute/60 + merged.time.dt.second/3600
merged["week_day"] = merged.time.dt.dayofweek
merged["is_weekend"] = merged.apply(lambda x: is_weekend(x["week_day"]), axis=1)

The categories are transformed in unique ids in order to save space and make learning easier.

In [25]:
merged['cat_id'] = merged.groupby('uber_category', sort=False).ngroup()

In [26]:
merged.head(10)

,user_id,venue,category_id,category_name,latitude,longitude,time_offset,time,uber_category,month,day,clock,week_day,is_weekend,cat_id
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,2012-04-03 18:00:09+00:00,Shopping,4,3,18.002500,1,False,0
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,2012-04-03 18:00:25+00:00,Infrastructure,4,3,18.006944,1,False,1
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,2012-04-03 18:02:24+00:00,Home,4,3,18.040000,1,False,2
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,2012-04-03 18:02:41+00:00,Medical,4,3,18.044722,1,False,3
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,2012-04-03 18:03:00+00:00,Snacks,4,3,18.050000,1,False,4
5,484,4b5b981bf964a520900929e3,4bf58dd8d48988d118951735,Food & Drink Shop,40.690427,-73.954687,-240,2012-04-03 18:04:00+00:00,Grocery,4,3,18.066667,1,False,5
6,642,4ab966c3f964a5203c7f20e3,4bf58dd8d48988d1e0931735,Coffee Shop,40.751591,-73.974121,-240,2012-04-03 18:04:38+00:00,Cafe,4,3,18.077222,1,False,6
7,292,4d0cc47f903d37041864bf55,4bf58dd8d48988d12b951735,Bus Station,40.779422,-73.955341,-240,2012-04-03 18:04:42+00:00,Public Transport,4,3,18.078333,1,False,7
8,428,4ce1863bc4f6a35d8bd2db6c,4bf58dd8d48988d103941735,Home (private),40.619151,-74.035888,-240,2012-04-03 18:06:18+00:00,Home,4,3,18.105000,1,False,2
9,877,4be319b321d5a59352311811,4bf58dd8d48988d10a951735,Bank,40.619006,-73.990375,-240,2012-04-03 18:06:19+00:00,Service,4,3,18.105278,1,False,8

Temporal transformation is applied on the time components.
This is done by sin/cos transformation.

In [27]:
merged['clock_sin'] = np.sin(2 * np.pi * merged['clock']/24.0)
merged['clock_cos'] = np.cos(2 * np.pi * merged['clock']/24.0)
merged['day_sin'] = np.sin(2 * np.pi * merged['day']/30.0)
merged['day_cos'] = np.cos(2 * np.pi * merged['day']/30.0)
merged['month_sin'] = np.sin(2 * np.pi * merged['month']/12.0)
merged['month_cos'] = np.cos(2 * np.pi * merged['month']/12.0)
merged['week_day_sin'] = np.sin(2 * np.pi * merged['week_day']/7.0)
merged['week_day_cos'] = np.cos(2 * np.pi * merged['week_day']/7.0)

The unnecessary columns are dropped and then the data is processed.

In [28]:
merged.drop(['clock', 'day', 'month', 'week_day', 'uber_category'], axis=1, inplace=True)

In [29]:
processed = merged.copy()
processed.head(10)

,user_id,venue,category_id,category_name,latitude,longitude,time_offset,time,is_weekend,cat_id,clock_sin,clock_cos,day_sin,day_cos,month_sin,month_cos,week_day_sin,week_day_cos
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,2012-04-03 18:00:09+00:00,False,0,-1.000000,0.000654,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,2012-04-03 18:00:25+00:00,False,1,-0.999998,0.001818,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,2012-04-03 18:02:24+00:00,False,2,-0.999945,0.010472,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,2012-04-03 18:02:41+00:00,False,3,-0.999931,0.011708,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,2012-04-03 18:03:00+00:00,False,4,-0.999914,0.013090,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
5,484,4b5b981bf964a520900929e3,4bf58dd8d48988d118951735,Food & Drink Shop,40.690427,-73.954687,-240,2012-04-03 18:04:00+00:00,False,5,-0.999848,0.017452,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
6,642,4ab966c3f964a5203c7f20e3,4bf58dd8d48988d1e0931735,Coffee Shop,40.751591,-73.974121,-240,2012-04-03 18:04:38+00:00,False,6,-0.999796,0.020215,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
7,292,4d0cc47f903d37041864bf55,4bf58dd8d48988d12b951735,Bus Station,40.779422,-73.955341,-240,2012-04-03 18:04:42+00:00,False,7,-0.999790,0.020506,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
8,428,4ce1863bc4f6a35d8bd2db6c,4bf58dd8d48988d103941735,Home (private),40.619151,-74.035888,-240,2012-04-03 18:06:18+00:00,False,2,-0.999622,0.027485,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
9,877,4be319b321d5a59352311811,4bf58dd8d48988d10a951735,Bank,40.619006,-73.990375,-240,2012-04-03 18:06:19+00:00,False,8,-0.999620,0.027558,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349

Here, reduced dataset for the first model training is created.

In [30]:
reduced = processed.drop(['venue', 'category_id', 'category_name', 'latitude', 'longitude', 'time_offset', 'time', 'is_weekend'], axis=1, inplace=False)

reduced.head(10)

,user_id,cat_id,clock_sin,clock_cos,day_sin,day_cos,month_sin,month_cos,week_day_sin,week_day_cos
0,470,0,-1.000000,0.000654,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
1,979,1,-0.999998,0.001818,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
2,69,2,-0.999945,0.010472,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
3,395,3,-0.999931,0.011708,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
4,87,4,-0.999914,0.013090,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
5,484,5,-0.999848,0.017452,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
6,642,6,-0.999796,0.020215,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
7,292,7,-0.999790,0.020506,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
8,428,2,-0.999622,0.027485,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
9,877,8,-0.999620,0.027558,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349

A bigger dataset with all the processed features is also created.
For that purpose we map venues and category ids to smaller indices.

In [31]:
processed['venue_id'] = processed.groupby('venue', sort=False).ngroup()
processed['orig_cat_id'] = processed.groupby('category_id', sort=False).ngroup()
big = processed.drop(['venue', 'category_id', 'category_name', 'time_offset', 'time'], axis=1, inplace=False)

big.head(10)

,user_id,latitude,longitude,is_weekend,cat_id,clock_sin,clock_cos,day_sin,day_cos,month_sin,month_cos,week_day_sin,week_day_cos,venue_id,orig_cat_id
0,470,40.719810,-74.002581,False,0,-1.000000,0.000654,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,0,0
1,979,40.606800,-74.044170,False,1,-0.999998,0.001818,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,1,1
2,69,40.716162,-73.883070,False,2,-0.999945,0.010472,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,2,2
3,395,40.745164,-73.982519,False,3,-0.999931,0.011708,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,3,3
4,87,40.740104,-73.989658,False,4,-0.999914,0.013090,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,4,4
5,484,40.690427,-73.954687,False,5,-0.999848,0.017452,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,5,5
6,642,40.751591,-73.974121,False,6,-0.999796,0.020215,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,6,6
7,292,40.779422,-73.955341,False,7,-0.999790,0.020506,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,7,7
8,428,40.619151,-74.035888,False,2,-0.999622,0.027485,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,8,2
9,877,40.619006,-73.990375,False,8,-0.999620,0.027558,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,9,8

Move 'cat_id' to the first column (will be used as y -> prediction)

In [32]:
def move_first(df, column_name):
    fc = df.pop(column_name)
    df.insert(0, column_name, fc)

In [33]:
move_first(reduced, 'cat_id')
reduced.head(10)

,cat_id,user_id,clock_sin,clock_cos,day_sin,day_cos,month_sin,month_cos,week_day_sin,week_day_cos
0,0,470,-1.000000,0.000654,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
1,1,979,-0.999998,0.001818,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
2,2,69,-0.999945,0.010472,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
3,3,395,-0.999931,0.011708,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
4,4,87,-0.999914,0.013090,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
5,5,484,-0.999848,0.017452,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
6,6,642,-0.999796,0.020215,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
7,7,292,-0.999790,0.020506,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
8,2,428,-0.999622,0.027485,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
9,8,877,-0.999620,0.027558,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349

In [34]:
move_first(big, 'cat_id')
big.head(10)

,cat_id,user_id,latitude,longitude,is_weekend,clock_sin,clock_cos,day_sin,day_cos,month_sin,month_cos,week_day_sin,week_day_cos,venue_id,orig_cat_id
0,0,470,40.719810,-74.002581,False,-1.000000,0.000654,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,0,0
1,1,979,40.606800,-74.044170,False,-0.999998,0.001818,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,1,1
2,2,69,40.716162,-73.883070,False,-0.999945,0.010472,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,2,2
3,3,395,40.745164,-73.982519,False,-0.999931,0.011708,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,3,3
4,4,87,40.740104,-73.989658,False,-0.999914,0.013090,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,4,4
5,5,484,40.690427,-73.954687,False,-0.999848,0.017452,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,5,5
6,6,642,40.751591,-73.974121,False,-0.999796,0.020215,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,6,6
7,7,292,40.779422,-73.955341,False,-0.999790,0.020506,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,7,7
8,2,428,40.619151,-74.035888,False,-0.999622,0.027485,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,8,2
9,8,877,40.619006,-73.990375,False,-0.999620,0.027558,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349,9,8

Save the datasets to .csv files.

In [35]:
reduced.to_csv('./4square/processed_transformed.csv', index=False)
big.to_csv('./4square/processed_transformed_big.csv', index=False)

Create old dataset for legacy notebooks and trial runs with changed architectures.

In [36]:
# column order: user_id,cat_id,clock_sin,clock_cos,day_sin,day_cos,month_sin,month_cos,week_day_sin,week_day_cos
old = reduced.copy()
move_first(old, 'user_id')
old.head(10)

,user_id,cat_id,clock_sin,clock_cos,day_sin,day_cos,month_sin,month_cos,week_day_sin,week_day_cos
0,470,0,-1.000000,0.000654,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
1,979,1,-0.999998,0.001818,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
2,69,2,-0.999945,0.010472,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
3,395,3,-0.999931,0.011708,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
4,87,4,-0.999914,0.013090,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
5,484,5,-0.999848,0.017452,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
6,642,6,-0.999796,0.020215,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
7,292,7,-0.999790,0.020506,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
8,428,2,-0.999622,0.027485,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
9,877,8,-0.999620,0.027558,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349

In [37]:
old.to_csv('./4square/processed_transformed_old.csv', index=False)

Here, a Single User DataSet is created for the user with ID 293.
That is the user with the most dataset entries.

In [38]:
#test area

t = unprocessed.merge(ubers, on='category_name', suffixes=('', '_y'), how='left')
single_user_df = t.loc[t.user_id == 293].copy()
single_user_df.head(100)

,user_id,venue,category_id,category_name,latitude,longitude,time_offset,time,uber_category
690,293,4ae8fd76f964a520e1b321e3,4bf58dd8d48988d1fd931735,Subway,40.725577,-74.004252,-240,Tue Apr 03 23:56:43 +0000 2012,Public Transport
760,293,4d5bedbb5d153704613a6ce7,4bf58dd8d48988d162941735,Other Great Outdoors,40.714310,-73.949394,-240,Wed Apr 04 00:19:13 +0000 2012,Outdoors
763,293,41156d00f964a520f40b1fe3,4bf58dd8d48988d1d8941735,Bar,40.713624,-73.949710,-240,Wed Apr 04 00:19:44 +0000 2012,Bar
766,293,4d61b919865a224bef72ba85,4bf58dd8d48988d123951735,Smoke Shop,40.715951,-73.949595,-240,Wed Apr 04 00:21:12 +0000 2012,Shopping
1121,293,4c97edbdf419a09395806b88,4f2a25ac4b909258e854f55f,Neighborhood,40.650169,-73.949575,-240,Wed Apr 04 04:53:06 +0000 2012,Home
...,...,...,...,...,...,...,...,...,...
13791,293,4e5577f445dd0a4826e6ab3e,4bf58dd8d48988d103941735,Home (private),40.693212,-73.930104,-240,Fri Apr 13 16:18:13 +0000 2012,Home
13793,293,4d2f5ae2940137044fa1eeda,4bf58dd8d48988d1f6931735,General Travel,40.689003,-73.929085,-240,Fri Apr 13 16:18:55 +0000 2012,Public Transport
13794,293,4d2f5ae2940137044fa1eeda,4bf58dd8d48988d1f6931735,General Travel,40.689003,-73.929085,-240,Fri Apr 13 16:19:13 +0000 2012,Public Transport
13798,293,4b0b68cef964a5202f3123e3,4bf58dd8d48988d1fd931735,Subway,40.679336,-73.930285,-240,Fri Apr 13 16:20:17 +0000 2012,Public Transport
14702,293,4ae8fd76f964a520e1b321e3,4bf58dd8d48988d1fd931735,Subway,40.725577,-74.004252,-240,Fri Apr 13 23:51:20 +0000 2012,Public Transport

Next, a dataset for locations is also processed.
Here, a join is done on areas that will be retrieved with a library.

In [39]:
merged.head(10)

,user_id,venue,category_id,category_name,latitude,longitude,time_offset,time,is_weekend,cat_id,clock_sin,clock_cos,day_sin,day_cos,month_sin,month_cos,week_day_sin,week_day_cos
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,2012-04-03 18:00:09+00:00,False,0,-1.000000,0.000654,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,2012-04-03 18:00:25+00:00,False,1,-0.999998,0.001818,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,2012-04-03 18:02:24+00:00,False,2,-0.999945,0.010472,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,2012-04-03 18:02:41+00:00,False,3,-0.999931,0.011708,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,2012-04-03 18:03:00+00:00,False,4,-0.999914,0.013090,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
5,484,4b5b981bf964a520900929e3,4bf58dd8d48988d118951735,Food & Drink Shop,40.690427,-73.954687,-240,2012-04-03 18:04:00+00:00,False,5,-0.999848,0.017452,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
6,642,4ab966c3f964a5203c7f20e3,4bf58dd8d48988d1e0931735,Coffee Shop,40.751591,-73.974121,-240,2012-04-03 18:04:38+00:00,False,6,-0.999796,0.020215,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
7,292,4d0cc47f903d37041864bf55,4bf58dd8d48988d12b951735,Bus Station,40.779422,-73.955341,-240,2012-04-03 18:04:42+00:00,False,7,-0.999790,0.020506,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
8,428,4ce1863bc4f6a35d8bd2db6c,4bf58dd8d48988d103941735,Home (private),40.619151,-74.035888,-240,2012-04-03 18:06:18+00:00,False,2,-0.999622,0.027485,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349
9,877,4be319b321d5a59352311811,4bf58dd8d48988d10a951735,Bank,40.619006,-73.990375,-240,2012-04-03 18:06:19+00:00,False,8,-0.999620,0.027558,0.587785,0.809017,0.866025,-0.5,0.781831,0.62349

First, an array of the coordinates (lat/long) is created.

In [40]:
import reverse_geocoder as rg

coords = np.vstack((merged["longitude"].values, merged["latitude"].values)).T
coord_array = [(i[1], i[0]) for i in coords]

coord_array

[(40.71981037548853, -74.00258103213994),
 (40.606799581406435, -74.04416981025437),
 (40.71616168484322, -73.88307005845945),
 (40.7451638, -73.982518775),
 (40.74010382743943, -73.98965835571289),
 (40.69042711809854, -73.954686775096),
 (40.75159143134631, -73.9741214009634),
 (40.77942173066975, -73.95534113280371),
 (40.61915106755737, -74.03588760058483),
 (40.61900594093755, -73.99037472596906),
 (40.74348254, -73.99400899999999),
 (40.74260751232707, -73.99270534515381),
 (40.719762266666656, -74.25001400000001),
 (40.741190550641626, -73.98966309787518),
 (40.70458850287454, -74.00963933087027),
 (40.861981503068144, -74.04790453737951),
 (40.826789537813866, -73.94950923509141),
 (40.75527487548953, -73.97880613803865),
 (40.906627, -73.777774),
 (40.73067679262482, -74.06567180055882),
 (40.88302032878746, -74.0758752822876),
 (40.74281621210842, -74.00040610551177),
 (40.64531729239498, -73.77383708953856),
 (40.76067264603736, -74.00367709397945),
 (40.736676, -73.98891),
 (40.790599468971145, -73.98023377661316),
 (40.75230660947181, -73.97185432025199),
 (40.65553514439493, -74.00862937888985),
 (40.74186151409088, -73.98943362953369),
 (40.750945522488436, -74.00563392176072),
 (40.747738169430534, -73.98519814526952),
 (40.73169799836347, -73.98922693741638),
 (40.82650767315228, -73.95039081573486),
 (40.86283581665962, -74.19723987579346),
 (40.74218830848454, -73.98792418909154),
 (40.90105786688402, -74.15076255798341),
 (40.963240757086346, -74.09463109843134),
 (40.963240757086346, -74.09463109843134),
 (40.74140750304299, -73.9884379506111),
 (40.69743322327686, -73.99304330348969),
 (40.77807780906056, -73.95449161535046),
 (40.728171682360646, -74.00752186859742),
 (40.77901409172768, -73.95403861999513),
 (40.77615805031661, -73.82361593360073),
 (40.75062325883594, -73.99004186799563),
 (40.68892998843297, -73.99566650390625),
 (40.727612, -74.007306),
 (40.77843896961532, -73.95451457533076),
 (40.924311908583405, -73.99688829591489),
 (40.763919207747456, -73.9731399591735),
 (40.786713, -74.175476),
 (40.78690638653544, -74.17540497495149),
 (40.88544, -74.13887),
 (40.81721953702811, -73.94790172576904),
 (40.803964976658776, -74.00513467434556),
 (40.785678999999995, -73.97283399999999),
 (40.80204208379726, -74.00063278107605),
 (40.69684127556698, -73.98717237876596),
 (40.618026356635795, -73.991677457657),
 (40.73971082815715, -73.98251797604149),
 (40.75099579556285, -73.99068832397461),
 (40.75061379403183, -73.98856401443481),
 (40.932534369360646, -74.00992624807344),
 (40.74710920467287, -74.15280867121942),
 (40.734055576476344, -73.8708472251892),
 (40.75110145517336, -73.98130059242249),
 (40.708515000000006, -74.00728199999999),
 (40.74358597929388, -74.17815693777928),
 (40.76260087433228, -73.96600570272209),
 (40.69541297284045, -73.98732159326326),
 (40.679190000000006, -73.995548),
 (40.80463955350257, -73.93786213355276),
 (40.70158679649546, -73.95745343027262),
 (40.747909213731006, -73.9838092828001),
 (40.830936, -74.20743204),
 (40.71589126048056, -74.03416156768799),
 (40.77536339, -73.95570500000001),
 (40.86283581665962, -74.19723987579346),
 (40.745245000000004, -73.982692),
 (40.70473327890426, -73.98773789405824),
 (40.91220464465255, -74.01238511084367),
 (40.74697651999517, -73.98325258717294),
 (40.91192343390238, -73.78237724304198),
 (40.75951304689015, -73.8314723968506),
 (40.771046000000005, -74.065758),
 (40.72703111110143, -74.0348482131958),
 (40.751411598242775, -73.97994107572931),
 (40.755391318653075, -73.974259146779),
 (40.73832840008116, -74.17913158148492),
 (40.725891, -73.79143081000002),
 (40.83162208784265, -74.13679361343385),
 (40.726045, -73.79091154388917),
 (40.71528088512917, -74.03639537384788),
 (40.75821277375464, -73.98682594299315),
 (40.76235954330624, -73.97223886493654),
 (40.828602195433966, -73.8792586326599),
 (40.74546290596493, -73.99098305111815),
 (40.60014371940161, -73.94659322025349),
 (40.870630094632396, -74.09792627389562),
 (40.808700480764564, -73.95851531021651),
 (40.744044646949455, -73.98373696088366),
 (40.67755881343268, -73.74452479795166),
 (40.67912093397046, -73.74992032813206),
 (40.699108, -73.955248),
 (40.645089355976346, -73.7845230102539),
 (40.72284169882771, -73.9941164689654),
 (40.680064131705215, -73.76161876452181),
 (40.68083, -73.76331),
 (40.7462390539103, -73.98058960845994),
 (40.759313457617644, -73.97849478246809),
 (40.72828342000001, -73.98788499999999),
 (40.738553, -73.98739300000001),
 (40.773521876402434, -73.95678520202638),
 (40.72862394, -74.005252),
 (40.82358935335903, -74.2238020133753),
 (40.77834721, -73.980903),
 (40.824777351716186, -73.88307005845945),
 (40.74828059076867, -73.98556262254716),
 (40.58532514916689, -73.95202340155454),
 (40.74837050671544, -73.98568868637084),
 (40.94175914870915, -74.01238511084367),
 (40.61848447230498, -73.75366953292578),
 (40.940400130531614, -73.9621486173928),
 (40.70242744248474, -73.99048447608949),
 (40.844306010598224, -74.0439630429152),
 (40.742778214683035, -73.99833798408507),
 (40.840306, -74.04756321666666),
 (40.7828036434665, -73.95175935821182),
 (40.73083612189599, -73.9976406097412),
 (40.88957410381597, -74.09540176391602),
 (40.730769, -73.9974505),
 (40.8134844303353, -74.07433032989502),
 (40.80499987311731, -74.07145999994654),
 (40.75568181015381, -73.88307005845945),
 (40.758505337427664, -73.97652626037599),
 (40.702479810491425, -73.79981203922166),
 (40.6896849354109, -74.17938709259033),
 (40.712859034538276, -73.87741935714288),
 (40.707149, -73.99056999999999),
 (40.774111, -73.959546),
 (40.73652697126574, -73.99055957794191),
 (40.75061379403183, -73.98856401443481),
 (40.73561850046403, -73.99721413850784),
 (40.65556631523727, -74.0083941052192),
 (40.74434648174866, -73.99543065278503),
 (40.709247119090854, -74.01355147361754),
 (40.711109497320564, -74.00504350662231),
 (40.736901, -73.8785),
 (40.951583808003996, -74.08855676651002),
 (40.72573020280385, -73.79252672195435),
 (40.8415611, -74.15981),
 (40.725551325924265, -73.99476528167725),
 (40.71258960356786, -74.0063202381134),
 (40.89621269901943, -73.87670483270945),
 (40.738949, -73.989828),
 (40.63904061589954, -73.99794101715088),
 (40.78315571890902, -74.01868849196252),
 (40.69140417436194, -73.71822310915134),
 (40.740194875414424, -73.98346493517978),
 (40.747048, -74.15257036685944),
 (40.80050589400565, -74.20418389625108),
 (40.826702515225065, -73.95129203796388),
 (40.7495279, -73.9947032),
 (40.749142415256046, -73.97505118330538),
 (40.76050365575564, -73.94384937087555),
 (40.71885935907407, -73.9879095554352),
 (40.791171999999996, -73.944024),
 (40.789119881225794, -73.97335052490234),
 (40.75280620914171, -73.97717535495758),
 (40.66479594558197, -73.92295351101858),
 (40.66421141550086, -73.91474954903893),
 (40.79924637869085, -73.93220766956706),
 (40.841927, -73.873511),
 (40.808767878768016, -74.11812337576455),
 (40.645089355976346, -73.7845230102539),
 (40.7708489964259, -73.98224823531172),
 (40.71980772931238, -74.00992624807344),
 (40.83260433886108, -73.86046496281456),
 (40.734478321567465, -73.99024844169618),
 (40.83487295164295, -74.22620648606099),
 (40.925826, -73.835898),
 (40.73569746375886, -73.81249842275241),
 (40.8687370559638, -73.9006602030213),
 (40.75756480347108, -73.96864592496735),
 (40.70024353438826, -73.94112110137941),
 (40.72098907275997, -73.98104874535339),
 (40.72098907275997, -73.98104874535339),
 (40.77226863280218, -73.93010370763156),
 (40.69754694616505, -73.9930031358868),
 (40.83991796598711, -73.87893676757812),
 (40.965770812150105, -74.0756607055664),
 (40.7526195459056, -73.99336294005377),
 (40.744047317914, -73.98402736930706),
 (40.80494, -73.992149),
 (40.70964742200671, -74.01051729615469),
 (40.70972827284494, -74.01076978215656),
 (40.70491221172607, -74.01401281356813),
 (40.87097828520945, -73.82876808947316),
 (40.69783672870847, -73.92736598127738),
 (40.867826942310074, -73.82703923160857),
 (40.78986319381769, -73.94593309268163),
 (40.70325299803113, -74.01422739028929),
 (40.868125922072615, -73.82576465606691),
 (40.727410963434906, -73.98472180100866),
 (40.61249562337221, -73.98887973002674),
 (40.741578999999994, -74.029635),
 (40.7379797262936, -74.03076102288121),
 (40.731786, -73.983701),
 (40.75884666008547, -73.9895510673523),
 (40.74724254, -74.15266696),
 (40.70972827284494, -74.01076978215656),
 (40.57562689089684, -73.98329850027537),
 (40.701457324192134, -74.01321428847186),
 (40.724347959874294, -73.99731874465942),
 (40.79563544550015, -74.20082467544599),
 (40.76050818785058, -73.96744635021413),
 (40.747631887539136, -73.98638613123015),
 (40.761471535292976, -73.96677374839783),
 (40.72603917082711, -73.98208379745482),
 (40.69594185054358, -73.99039194274509),
 (40.726348645583506, -73.98415714502335),
 (40.84835183889757, -73.83081857572388),
 (40.83309951197968, -74.01021480560303),
 (40.72435967224378, -73.99747938426083),
 (40.626435638129095, -74.01344955620925),
 (40.69958070509618, -73.91140241689857),
 (40.74866717767752, -73.98837625980376),
 (40.77906995340785, -74.18814965913035),
 (40.57715366332337, -73.9812037038074),
 (40.761709862502954, -73.9601396882319),
 (40.60189764651377, -73.99352073669435),
 (40.69321217941903, -73.93010370763156),
 (40.82527366006394, -73.92996311187744),
 (40.82720714615709, -73.92603062509322),
 (40.73946479913673, -74.00265603689895),
 (40.79889202318282, -74.11812337576455),
 (40.81022009968992, -73.96047592163086),
 (40.70234499714752, -73.9906848967128),
 (40.76020474876487, -73.86111389426304),
 (40.71800153431413, -73.99028290313753),
 (40.931951, -74.132019),
 (40.71800153431413, -73.99028290313753),
 (40.6997717683002, -74.01339054107666),
 (40.745191999999996, -74.219411),
 (40.75269756436712, -73.99003612905999),
 (40.79456207284583, -73.97116184234619),
 (40.917332043073934, -74.18858249287709),
 (40.76504877198539, -73.8195435104015),
 (40.73528249691621, -73.99040315158284),
 (40.735062589189894, -73.99080514490619),
 (40.74871698853719, -73.98815948790144),
 (40.765289659363155, -73.81984793985457),
 (40.705540747437404, -74.00825638391181),
 (40.67314689987917, -73.9989542278136),
 (40.63038932332184, -74.01065501583342),
 (40.890028301796576, -74.07025337219237),
 (40.69351488369678, -73.99171189097369),
 (40.95589866525353, -74.06818444009076),
 (40.69415730258867, -73.99187257970313),
 (40.95634251626308, -74.0690277157403),
 (40.750034436988265, -73.98903755164534),
 (40.86640733958329, -73.82869342150545),
 (40.61848447230498, -73.75366953292578),
 (40.75280620914171, -73.97717535495758),
 (40.61848447230498, -73.75366953292578),
 (40.753239916464246, -73.97408696449409),
 (40.75005297929758, -73.97360801696776),
 (40.758981792798046, -73.88981404343326),
 (40.75568181015381, -73.88307005845945),
 (40.95617, -74.06845),
 (40.95653461669315, -74.06909465789795),
 (40.74902921051217, -73.99237186168206),
 (40.749105259671786, -73.98820539983072),
 (40.745120699102934, -73.99247516123957),
 (40.862365203992645, -74.19631719589232),
 (40.61252119041974, -73.91296403631098),
 (40.661205798151336, -73.88063192367555),
 (40.95620483337088, -74.06860321010105),
 (40.644405542049704, -74.07295703887941),
 (40.76686967381132, -73.994965811503),
 (40.74951365349984, -73.98762576091778),
 (40.744050423101655, -73.97309978308719),
 (40.70771000786733, -74.01056349277495),
 (40.75650612666626, -73.98802757263185),
 (40.73083612189599, -73.9976406097412),
 (40.80588623, -74.04406167),
 (40.78486386262187, -73.78632917721903),
 (40.786848224708606, -73.7891039524069),
 (40.78751600088695, -73.78943140780048),
 (40.739773585993646, -74.00257587432861),
 (40.64609609488175, -74.07821745542493),
 (40.631379177245186, -73.9514422416687),
 (40.74182628032458, -74.00381481858345),
 (40.824774703393686, -73.94421629695893),
 (40.74129321360595, -74.00299420802065),
 (40.74201604336381, -74.00516336676101),
 (40.917335441802095, -74.0756607055664),
 (40.74774464856387, -73.9853024482727),
 (40.75696158119556, -73.98982378832059),
 (40.75047562272483, -73.94028425216675),
 (40.7382971048355, -73.878961),
 (40.645089355976346, -73.7845230102539),
 (40.69321651747251, -73.98999899625778),
 (40.75083637174785, -73.94011813253208),
 (40.73528249691621, -73.99040315158284),
 (40.729369, -73.998868),
 (40.79220655212076, -74.15127754211427),
 (40.72898242586681, -73.9958381652832),
 (40.73702362705514, -73.98658125865622),
 (40.73037925482143, -73.99595861929362),
 (40.712426956138785, -73.98925065994263),
 (40.75237023460657, -73.9995510484367),
 (40.835924385155565, -73.9218521118164),
 (40.71278477995827, -73.98929357528688),
 (40.71293258666992, -73.98744201660156),
 (40.75756480347108, -73.96864592496735),
 (40.7373, -74.03744),
 (40.620465, -74.00710102),
 (40.73729142446389, -74.03733632862806),
 (40.69147464622913, -73.98738384246826),
 (40.67275509672217, -73.775631),
 (40.75771820539459, -73.97769128151123),
 (40.729545, -73.986137),
 (40.70311887, -73.987736),
 (40.737367546551965, -73.99015090774017),
 (40.706440404551344, -74.00612169096566),
 (40.732431, -73.989988),
 (40.641999999999996, -73.7918),
 (40.746218844269826, -73.98151935953092),
 (40.84291648040514, -73.86516248899001),
 (40.68430737873073, -73.97759780287744),
 (40.712508279902956, -74.00766134262084),
 (40.81554068461798, -73.95842347218186),
 (40.800356, -73.94687168),
 (40.94709963333333, -74.072561),
 (40.828098866660845, -73.93391132354736),
 (40.821344149632274, -73.95403861999513),
 (40.718143774807245, -74.0001565217972),
 (40.94175914870915, -74.01238511084367),
 (40.75275186110882, -73.97305386754967),
 (40.70596203587121, -74.01125753826116),
 (40.74803725830297, -73.94687175750731),
 (40.747909213731006, -73.9838092828001),
 (40.714464086511576, -73.9991158246994),
 (40.754516884751894, -73.97339823381394),
 (40.96541694223362, -74.06288376421803),
 (40.75371559794147, -73.98094721858729),
 (40.75561215118185, -73.97092580795287),
 (40.763555921176525, -73.97286772727965),
 (40.77589236566533, -73.95573145038074),
 (40.93508141690897, -73.96537147003377),
 (40.68980100205989, -73.7210965214738),
 (40.753564089302074, -73.97953033447266),
 (40.716390999999994, -74.033866),
 (40.74715919246189, -73.92229904390388),
 (40.756098482014615, -73.97226182280386),
 (40.84769339441966, -73.90088796615599),
 (40.71559313948973, -74.00625367536027),
 (40.78302025831567, -73.94907872385645),
 (40.7117844949098, -74.00208234786987),
 (40.756676, -73.972307),
 (40.71421605600625, -74.00596618652344),
 (40.712658728604865, -74.00588035583495),
 (40.67971862117922, -73.9319908618927),
 (40.758031742969386, -73.97142385887315),
 (40.713435363794275, -73.95807266235352),
 (40.88899013040254, -74.0558123588562),
 (40.733123, -73.99842496938781),
 (40.910894, -74.031547),
 (40.74215260020578, -73.82756765488456),
 (40.9261047848532, -74.09925694632102),
 (40.767759999999996, -73.964527),
 (40.678376105784395, -73.90339851379396),
 (40.810203, -73.943523),
 (40.760280841710156, -73.95057115870543),
 (40.747558000000005, -73.993104),
 (40.634045330266964, -74.14161270853155),
 (40.63129905755473, -73.95096148591898),
 (40.63118003289066, -73.95102462701179),
 (40.932806255079214, -74.07115459442139),
 (40.75102830623012, -73.87264966964722),
 (40.712033033064166, -74.00699299251195),
 (40.902664539141156, -74.00578886034883),
 (40.73122649796362, -73.98887973002674),
 (40.706903999999994, -74.00367),
 (40.826457681444715, -73.89482953406639),
 (40.896905775860006, -74.03017044067383),
 (40.777998519070536, -73.95386021482283),
 (40.8985172327846, -74.02913150536541),
 (40.680478363795984, -73.97497083192229),
 (40.664988146902026, -73.90531083327043),
 (40.75722129839836, -73.99154663085938),
 (40.749110149664176, -73.98845672607422),
 (40.76562483929121, -73.96783664329801),
 (40.622294637823046, -74.02759377886963),
 (40.75602574186915, -73.97033335240646),
 (40.747842, -74.030874),
 (40.75557964275588, -73.97086143493651),
 (40.75892783097537, -73.96144262467183),
 (40.75918262141176, -73.96217731622924),
 (40.711109497320564, -74.00504350662231),
 (40.66676014225353, -73.88194173176645),
 (40.57840084043545, -73.93618583679198),
 (40.70311887, -73.987736),
 (40.666237481503714, -73.88338874497366),
 (40.764016, -73.82947598),
 (40.71655807771725, -74.00008678436278),
 (40.834872999999995, -74.225148),
 (40.632169039891316, -73.94998566640726),
 (40.91244812694391, -73.998075),
 (40.7106834327866, -74.00461247163237),
 (40.66195, -73.8927),
 (40.81143815229546, -74.06779646873473),
 (40.89859144490384, -73.84778739924586),
 (40.78898753071118, -74.25901478846667),
 (40.74227764235143, -73.9852555360646),
 (40.64250711434345, -73.88739668602256),
 (40.66342760828679, -74.23399686813354),
 (40.82406998798592, -73.8930669417162),
 (40.731748039315654, -74.0669250320999),
 (40.7171376622894, -74.038914138696),
 (40.75605706725121, -74.23554035653764),
 (40.77912606570555, -73.95490489457822),
 (40.720582, -74.002051),
 (40.81681580433025, -73.94139250202095),
 (40.753417796753595, -73.99629950523376),
 (40.763156998299344, -73.977109),
 (40.733847999999995, -74.00505),
 (40.88215418230367, -73.88167185113585),
 (40.734055576476344, -73.8708472251892),
 (40.88224161930881, -74.2096209526062),
 (40.75648987267385, -73.98626804351807),
 (40.720786519355954, -74.00197505950928),
 (40.752067, -73.987573),
 (40.677036, -73.972353),
 (40.734770989672406, -74.10484313964844),
 (40.67929277284536, -73.99570611375357),
 (40.70860892993973, -74.01209532819432),
 (40.72343212477769, -74.00055530971083),
 (40.70919832245443, -74.01118576526642),
 (40.74710920467287, -74.15280867121942),
 (40.750632215463646, -73.98906050750634),
 (40.742721215487144, -73.99276210416295),
 (40.76071686239771, -73.91834636014222),
 (40.73874326373426, -73.99455835710656),
 (40.743994587028865, -73.99562577101197),
 (40.73228891214305, -74.01051196130838),
 (40.76117085825042, -74.01128768920898),
 (40.66263818239269, -73.90887022018433),
 (40.73308000062968, -73.99987220764159),
 (40.83595685426248, -74.22552108764648),
 (40.85262124066219, -73.96257909949104),
 (40.73158408988183, -74.00021553039552),
 (40.96532877881822, -74.06292392141154),
 (40.61960195296289, -74.00806701695224),
 (40.829984137312756, -73.98887973002674),
 (40.75615113, -73.978965),
 (40.760427286209726, -73.97769570350647),
 (40.740223, -73.982688),
 (40.755312350357976, -73.9812209214057),
 (40.74910208154257, -73.98219084361823),
 (40.76082188954555, -73.97560790268072),
 (40.827890999999994, -74.102447),
 (40.746119015456564, -73.99307012557982),
 (40.74755129813944, -73.9811405726005),
 (40.75485025788179, -73.98800493858226),
 (40.70445913548654, -74.00578312188485),
 (40.75280620914171, -73.97717535495758),
 (40.79919430224089, -74.09895295732946),
 (40.88989838302784, -74.00271875753259),
 (40.83422732703347, -73.88933746464586),
 (40.71398174874388, -74.00595527572963),
 (40.779436551022506, -73.80902767181395),
 (40.75061379403183, -73.98856401443481),
 (40.777543, -73.813097),
 (40.74716991449647, -74.00063565038526),
 (40.75280620914171, -73.97717535495758),
 (40.719257806070424, -74.04154300689697),
 (40.75313016065781, -73.97621627458902),
 (40.72828321132057, -73.99559140205382),
 (40.75811656795351, -73.99289983661367),
 (40.75044965828103, -73.99144790205452),
 (40.84274539270614, -74.1011783748029),
 (40.78596807973614, -73.81624281406404),
 (40.754117938890204, -73.7383361361744),
 (40.75474028836671, -73.7396405403301),
 (40.716817, -73.962023),
 (40.7636878120714, -73.96763001764619),
 (40.70972827284494, -74.01076978215656),
 (40.720096999999996, -73.988457),
 (40.74516543756736, -73.9768418625638),
 (40.80713951975112, -74.17684116064805),
 (40.85328395428388, -73.97450594111876),
 (40.777925434239286, -73.96661281585693),
 (40.76169544463284, -73.92852213323012),
 (40.71616168484322, -73.88307005845945),
 (40.729415355193254, -74.15800933256584),

Now, the reverse_geocoder library is used to lookup all coordinates.

In [41]:
coord_array = [(i[1], i[0]) for i in coords]
search = rg.search(coord_array)
search

Loading formatted geocoded file...

[OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.60177'),
              ('lon', '-73.99403'),
              ('name', 'Bensonhurst'),
              ('admin1', 'New York'),
              ('admin2', 'Kings County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.66677'),
              ('lon', '-73.88236'),
              ('name', 'East New York'),
              ('admin1', 'New York'),
              ('admin2', 'Kings County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74482'),
              ('lon', '-73.94875'),
              ('name', 'Long Island City'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.6501'),
              ('lon', '-73.94958'),
              ('name', 'Brooklyn'),
              ('admin1', 'New York'),
              ('admin2', 'Kings County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74482'),
              ('lon', '-73.94875'),
              ('name', 'Long Island City'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78343'),
              ('lon', '-73.96625'),
              ('name', 'Manhattan'),
              ('admin1', 'New York'),
              ('admin2', 'New York County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.60177'),
              ('lon', '-73.99403'),
              ('name', 'Bensonhurst'),
              ('admin1', 'New York'),
              ('admin2', 'Kings County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.60177'),
              ('lon', '-73.99403'),
              ('name', 'Bensonhurst'),
              ('admin1', 'New York'),
              ('admin2', 'Kings County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.73232'),
              ('lon', '-74.23487'),
              ('name', 'Irvington'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Essex County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.85288'),
              ('lon', '-74.04208'),
              ('name', 'Little Ferry'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Bergen County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.82704'),
              ('lon', '-73.97569'),
              ('name', 'Edgewater'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Bergen County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78343'),
              ('lon', '-73.96625'),
              ('name', 'Manhattan'),
              ('admin1', 'New York'),
              ('admin2', 'New York County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.91149'),
              ('lon', '-73.78235'),
              ('name', 'New Rochelle'),
              ('admin1', 'New York'),
              ('admin2', 'Westchester County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.72816'),
              ('lon', '-74.07764'),
              ('name', 'Jersey City'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Hudson County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.88232'),
              ('lon', '-74.0832'),
              ('name', 'Lodi'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Bergen County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.62205'),
              ('lon', '-73.7468'),
              ('name', 'Inwood'),
              ('admin1', 'New York'),
              ('admin2', 'Nassau County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.76955'),
              ('lon', '-74.02042'),
              ('name', 'Weehawken'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Hudson County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78343'),
              ('lon', '-73.96625'),
              ('name', 'Manhattan'),
              ('admin1', 'New York'),
              ('admin2', 'New York County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74482'),
              ('lon', '-73.94875'),
              ('name', 'Long Island City'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.60177'),
              ('lon', '-73.99403'),
              ('name', 'Bensonhurst'),
              ('admin1', 'New York'),
              ('admin2', 'Kings County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.76955'),
              ('lon', '-74.02042'),
              ('name', 'Weehawken'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Hudson County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74482'),
              ('lon', '-73.94875'),
              ('name', 'Long Island City'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.82704'),
              ('lon', '-73.97569'),
              ('name', 'Edgewater'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Bergen County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.86899'),
              ('lon', '-74.2082'),
              ('name', 'Little Falls'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Passaic County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.91677'),
              ('lon', '-74.17181'),
              ('name', 'Paterson'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Passaic County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.94454'),
              ('lon', '-74.07542'),
              ('name', 'Paramus'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Bergen County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.94454'),
              ('lon', '-74.07542'),
              ('name', 'Paramus'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Bergen County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78343'),
              ('lon', '-73.96625'),
              ('name', 'Manhattan'),
              ('admin1', 'New York'),
              ('admin2', 'New York County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78343'),
              ('lon', '-73.96625'),
              ('name', 'Manhattan'),
              ('admin1', 'New York'),
              ('admin2', 'New York County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78982'),
              ('lon', '-73.74708'),
              ('name', 'East Atlantic Beach'),
              ('admin1', 'New York'),
              ('admin2', 'Nassau County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.76955'),
              ('lon', '-74.02042'),
              ('name', 'Weehawken'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Hudson County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78343'),
              ('lon', '-73.96625'),
              ('name', 'Manhattan'),
              ('admin1', 'New York'),
              ('admin2', 'New York County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.9276'),
              ('lon', '-73.99736'),
              ('name', 'Bergenfield'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Bergen County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78343'),
              ('lon', '-73.96625'),
              ('name', 'Manhattan'),
              ('admin1', 'New York'),
              ('admin2', 'New York County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.80677'),
              ('lon', '-74.18542'),
              ('name', 'Bloomfield'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Essex County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.80677'),
              ('lon', '-74.18542'),
              ('name', 'Bloomfield'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Essex County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.88149'),
              ('lon', '-74.1132'),
              ('name', 'Garfield'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Bergen County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.82704'),
              ('lon', '-73.97569'),
              ('name', 'Edgewater'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Bergen County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.80427'),
              ('lon', '-74.01208'),
              ('name', 'North Bergen'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Hudson County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78343'),
              ('lon', '-73.96625'),
              ('name', 'Manhattan'),
              ('admin1', 'New York'),
              ('admin2', 'New York County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.79205'),
              ('lon', '-74.00375'),
              ('name', 'Guttenberg'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Hudson County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.60177'),
              ('lon', '-73.99403'),
              ('name', 'Bensonhurst'),
              ('admin1', 'New York'),
              ('admin2', 'Kings County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74482'),
              ('lon', '-73.94875'),
              ('name', 'Long Island City'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.76955'),
              ('lon', '-74.02042'),
              ('name', 'Weehawken'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Hudson County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.76955'),
              ('lon', '-74.02042'),
              ('name', 'Weehawken'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Hudson County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.9351'),
              ('lon', '-74.01903'),
              ('name', 'New Milford'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Bergen County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74649'),
              ('lon', '-74.15626'),
              ('name', 'Harrison'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Hudson County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.68149'),
              ('lon', '-73.83652'),
              ('name', 'Borough of Queens'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74482'),
              ('lon', '-73.94875'),
              ('name', 'Long Island City'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.73566'),
              ('lon', '-74.17237'),
              ('name', 'Newark'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Essex County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78343'),
              ('lon', '-73.96625'),
              ('name', 'Manhattan'),
              ('admin1', 'New York'),
              ('admin2', 'New York County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78343'),
              ('lon', '-73.96625'),
              ('name', 'Manhattan'),
              ('admin1', 'New York'),
              ('admin2', 'New York County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74482'),
              ('lon', '-73.94875'),
              ('name', 'Long Island City'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74482'),
              ('lon', '-73.94875'),
              ('name', 'Long Island City'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.82593'),
              ('lon', '-74.20903'),
              ('name', 'Montclair'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Essex County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74399'),
              ('lon', '-74.03236'),
              ('name', 'Hoboken'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Hudson County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78343'),
              ('lon', '-73.96625'),
              ('name', 'Manhattan'),
              ('admin1', 'New York'),
              ('admin2', 'New York County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.86899'),
              ('lon', '-74.2082'),
              ('name', 'Little Falls'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Passaic County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74482'),
              ('lon', '-73.94875'),
              ('name', 'Long Island City'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.71427'),
              ('lon', '-74.00597'),
              ('name', 'New York City'),
              ('admin1', 'New York'),
              ('admin2', ''),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.8976'),
              ('lon', '-74.01597'),
              ('name', 'Teaneck'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Bergen County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74482'),
              ('lon', '-73.94875'),
              ('name', 'Long Island City'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.91149'),
              ('lon', '-73.78235'),
              ('name', 'New Rochelle'),
              ('admin1', 'New York'),
              ('admin2', 'Westchester County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.69149'),
              ('lon', '-73.80569'),
              ('name', 'Jamaica'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.78955'),
              ('lon', '-74.05653'),
              ('name', 'Secaucus'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Hudson County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74399'),
              ('lon', '-74.03236'),
              ('name', 'Hoboken'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Hudson County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74482'),
              ('lon', '-73.94875'),
              ('name', 'Long Island City'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.74482'),
              ('lon', '-73.94875'),
              ('name', 'Long Island City'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.73566'),
              ('lon', '-74.17237'),
              ('name', 'Newark'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Essex County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.69149'),
              ('lon', '-73.80569'),
              ('name', 'Jamaica'),
              ('admin1', 'New York'),
              ('admin2', 'Queens County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.81204'),
              ('lon', '-74.12431'),
              ('name', 'Lyndhurst'),
              ('admin1', 'New Jersey'),
              ('admin2', 'Bergen County'),
              ('cc', 'US')]),
 OrderedDict([('lat', '40.69149'),
              ('lon', '-73.80569'),

The results are saved in a dataframe. The columns are lat, lon, name, admin1, admin2 and cc.

In [42]:
values= []
for i in range(len(search)):
    values.append(search[i])

coord_search_df = pd.DataFrame(values)
coord_search_df

             lat        lon              name      admin1         admin2  cc
0       40.71427  -74.00597     New York City    New York                 US
1       40.60177  -73.99403       Bensonhurst    New York   Kings County  US
2       40.66677  -73.88236     East New York    New York   Kings County  US
3       40.74482  -73.94875  Long Island City    New York  Queens County  US
4       40.71427  -74.00597     New York City    New York                 US
...          ...        ...               ...         ...            ...  ..
227423  40.71427  -74.00597     New York City    New York                 US
227424  40.71427  -74.00597     New York City    New York                 US
227425  40.84985  -73.86641         The Bronx    New York          Bronx  US
227426  40.74399  -74.03236           Hoboken  New Jersey  Hudson County  US
227427  40.74482  -73.94875  Long Island City    New York  Queens County  US

[227428 rows x 6 columns]

The unique values for name, admin1 and admin2 are relevant to decide which column to use for the areas.

In [43]:
print("Name : ", coord_search_df.name.nunique())
print("Admin1 : ", coord_search_df.admin1.nunique())
print("Admin2 : ", coord_search_df.admin2.nunique())

Name :  141
Admin1 :  2
Admin2 :  13

In [44]:
coord_search_df.name.value_counts()

New York City       49835
Manhattan           32514
Long Island City    28944
Weehawken           12428
Brooklyn            10379
                    ...
Plandome Heights        3
Glen Rock               3
Ho-Ho-Kus               1
Plandome                1
Larchmont               1
Name: name, Length: 141, dtype: int64

The decision falls on the area name column with 141 different values. As both arrays have the same length and order, it is possible to just insert it in a column.

In [45]:
merged_zones = merged.copy()
merged_zones['location_name'] = coord_search_df['name']
merged_zones

,user_id,venue,category_id,category_name,latitude,longitude,time_offset,time,is_weekend,cat_id,clock_sin,clock_cos,day_sin,day_cos,month_sin,month_cos,week_day_sin,week_day_cos,location_name
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,2012-04-03 18:00:09+00:00,False,0,-1.000000,0.000654,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490,New York City
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,2012-04-03 18:00:25+00:00,False,1,-0.999998,0.001818,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490,Bensonhurst
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,2012-04-03 18:02:24+00:00,False,2,-0.999945,0.010472,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490,East New York
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,2012-04-03 18:02:41+00:00,False,3,-0.999931,0.011708,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490,Long Island City
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,2012-04-03 18:03:00+00:00,False,4,-0.999914,0.013090,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227423,688,3fd66200f964a52000e71ee3,4bf58dd8d48988d1e7931735,Music Venue,40.733596,-74.003139,-300,2013-02-16 02:29:11+00:00,True,16,0.605931,0.795518,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521,New York City
227424,560,4bca32ff0687ef3be789dbcc,4bf58dd8d48988d16c941735,Burger Joint,40.745719,-73.993720,-300,2013-02-16 02:31:35+00:00,True,11,0.614228,0.789129,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521,New York City
227425,945,50a77716e4b0b5a9492f6f56,4bf58dd8d48988d103941735,Home (private),40.854364,-73.883070,-300,2013-02-16 02:33:16+00:00,True,2,0.620007,0.784596,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521,The Bronx
227426,671,4514efe0f964a520e7391fe3,4bf58dd8d48988d11d941735,Bar,40.735981,-74.029309,-300,2013-02-16 02:34:31+00:00,True,9,0.624277,0.781203,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521,Hoboken
227427,942,4a1e0ca0f964a520bf7b1fe3,4bf58dd8d48988d116941735,Bar,40.726805,-73.957422,-300,2013-02-16 02:35:36+00:00,True,9,0.627963,0.778243,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521,Long Island City

Execute a group by on the locations to obtain ids.

In [46]:
merged_zones['location_id'] = merged_zones.groupby('location_name', sort=False).ngroup()

Move the location_id to the first column and drop not needed columns for this use case.

In [47]:
move_first(merged_zones, 'location_id')
merged_zones

,location_id,user_id,venue,category_id,category_name,latitude,longitude,time_offset,time,is_weekend,cat_id,clock_sin,clock_cos,day_sin,day_cos,month_sin,month_cos,week_day_sin,week_day_cos,location_name
0,0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,2012-04-03 18:00:09+00:00,False,0,-1.000000,0.000654,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490,New York City
1,1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,2012-04-03 18:00:25+00:00,False,1,-0.999998,0.001818,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490,Bensonhurst
2,2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,2012-04-03 18:02:24+00:00,False,2,-0.999945,0.010472,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490,East New York
3,3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,2012-04-03 18:02:41+00:00,False,3,-0.999931,0.011708,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490,Long Island City
4,0,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,2012-04-03 18:03:00+00:00,False,4,-0.999914,0.013090,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227423,0,688,3fd66200f964a52000e71ee3,4bf58dd8d48988d1e7931735,Music Venue,40.733596,-74.003139,-300,2013-02-16 02:29:11+00:00,True,16,0.605931,0.795518,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521,New York City
227424,0,560,4bca32ff0687ef3be789dbcc,4bf58dd8d48988d16c941735,Burger Joint,40.745719,-73.993720,-300,2013-02-16 02:31:35+00:00,True,11,0.614228,0.789129,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521,New York City
227425,33,945,50a77716e4b0b5a9492f6f56,4bf58dd8d48988d103941735,Home (private),40.854364,-73.883070,-300,2013-02-16 02:33:16+00:00,True,2,0.620007,0.784596,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521,The Bronx
227426,28,671,4514efe0f964a520e7391fe3,4bf58dd8d48988d11d941735,Bar,40.735981,-74.029309,-300,2013-02-16 02:34:31+00:00,True,9,0.624277,0.781203,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521,Hoboken
227427,3,942,4a1e0ca0f964a520bf7b1fe3,4bf58dd8d48988d116941735,Bar,40.726805,-73.957422,-300,2013-02-16 02:35:36+00:00,True,9,0.627963,0.778243,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521,Long Island City

In [48]:
reduced_zones = merged_zones.drop(['venue', 'category_id', 'category_name', 'latitude', 'longitude', 'time_offset', 'time', 'is_weekend', 'cat_id', 'location_name'], axis=1, inplace=False)
reduced_zones

,location_id,user_id,clock_sin,clock_cos,day_sin,day_cos,month_sin,month_cos,week_day_sin,week_day_cos
0,0,470,-1.000000,0.000654,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490
1,1,979,-0.999998,0.001818,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490
2,2,69,-0.999945,0.010472,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490
3,3,395,-0.999931,0.011708,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490
4,0,87,-0.999914,0.013090,0.587785,0.809017,0.866025,-0.5,0.781831,0.623490
...,...,...,...,...,...,...,...,...,...,...
227423,0,688,0.605931,0.795518,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521
227424,0,560,0.614228,0.789129,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521
227425,33,945,0.620007,0.784596,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521
227426,28,671,0.624277,0.781203,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521
227427,3,942,0.627963,0.778243,-0.207912,-0.978148,0.866025,0.5,-0.974928,-0.222521

Save the file.

In [49]:
reduced_zones.to_csv('./4square/processed_transformed_locations.csv', index=False)

In [50]:
single_user_locations = pd.DataFrame(reduced_zones.loc[reduced_zones.user_id == 185])

In [51]:
single_user_locations.to_csv('./4square/processed_transformed_locations_185.csv', index=False)