# Revisiting the NYC Taxi DataSet Model Architecture Part 3

In this notebook, the model architecture is being changed in order to understand the correlation between the model architecture and the prediction quality.
This model uses sequences of locations as inputs for the GRU network component.
That component consists of two GRU layers which are then directly going in a Dense Layer with SoftMax activation to obtain the logits.
The deep learning problem can thus be described as follows:
Predict the (N+1)th location a history of prior locations in form a sequence of N locations.
This model is also based on the changed network architecture from Part 1.
As a result, it only predicts the relevant (N+1)th location and not all next locations for every sequence element like it was in the original architecture.

In [1]:
import numpy as np
np.random.seed(0)
import tensorflow as tf
import pandas as pd
from tensorflow import feature_column
from tensorflow.keras import layers
import import_ipynb

In [2]:
from model_helper import ModelHelper

importing Jupyter notebook from model_helper.ipynb

# Dataset

In [3]:
df = pd.read_csv("./ma_results/trips_with_zones_final.csv")
df = df.head(10000000)
df.head(10)

,medallion,pickup_week_day,pickup_hour,pickup_day,pickup_month,dropoff_week_day,dropoff_hour,dropoff_day,dropoff_month,pickup_location_id,dropoff_location_id
0,00005007A9F30E289E760362F69E4EAD,1,0,1,1,1,0,1,1,162.0,262.0
1,00005007A9F30E289E760362F69E4EAD,1,0,1,1,1,0,1,1,262.0,239.0
2,00005007A9F30E289E760362F69E4EAD,1,0,1,1,1,1,1,1,239.0,236.0
3,00005007A9F30E289E760362F69E4EAD,1,1,1,1,1,1,1,1,236.0,41.0
4,00005007A9F30E289E760362F69E4EAD,1,1,1,1,1,1,1,1,41.0,211.0
5,00005007A9F30E289E760362F69E4EAD,1,1,1,1,1,2,1,1,211.0,238.0
6,00005007A9F30E289E760362F69E4EAD,1,2,1,1,1,2,1,1,238.0,142.0
7,00005007A9F30E289E760362F69E4EAD,1,2,1,1,1,2,1,1,142.0,263.0
8,00005007A9F30E289E760362F69E4EAD,1,2,1,1,1,3,1,1,263.0,48.0
9,00005007A9F30E289E760362F69E4EAD,1,3,1,1,1,3,1,1,48.0,246.0

In [4]:
# Check dtypes of the attributes
df.dtypes

medallion               object
pickup_week_day          int64
pickup_hour              int64
pickup_day               int64
pickup_month             int64
dropoff_week_day         int64
dropoff_hour             int64
dropoff_day              int64
dropoff_month            int64
pickup_location_id     float64
dropoff_location_id    float64
dtype: object

In [5]:
# Drop the medallion, it is not needed for this example
df.drop(['medallion'], axis=1, inplace=True)

Because there are too many taxis (over 9000) it is better to take the 100 taxi with the major number of records

In [6]:
# Cast the columns type to int32
dictionary = {'pickup_week_day': 'int32', 'pickup_hour': 'int32', 'pickup_day': 'int32', 'pickup_month': 'int32', 'dropoff_week_day': 'int32', 'dropoff_hour': 'int32', 'dropoff_day': 'int32', 'dropoff_month': 'int32', 'pickup_location_id':'int32', 'dropoff_location_id':'int32'}
df = df.astype(dictionary, copy=True)
df.dtypes

pickup_week_day        int32
pickup_hour            int32
pickup_day             int32
pickup_month           int32
dropoff_week_day       int32
dropoff_hour           int32
dropoff_day            int32
dropoff_month          int32
pickup_location_id     int32
dropoff_location_id    int32
dtype: object

We can use the other taxis to create a local test and validation sets

Now we need to create the location sequence for each user

In [7]:
mh = ModelHelper(df, 129)

In [8]:
# Call the function
mh.df_to_location_sequence()

print(mh.df)

            index  location_id  day  month  hour_sin      hour_cos  \
0               0          162    1      1  0.000000  1.000000e+00
1              12          230    1      1  0.707107  7.071068e-01
2              13          125    1      1  0.707107  7.071068e-01
3              15           48    1      1  0.866025  5.000000e-01
4              18          170    1      1  1.000000  6.123234e-17
...           ...          ...  ...    ...       ...           ...
13731996  7284341          161   26      1 -0.500000 -8.660254e-01
13731997  7284341          161   26      1 -0.500000 -8.660254e-01
13731998  7284342          132   26      1 -0.707107 -7.071068e-01
13731999  7284343          141   26      1 -0.866025 -5.000000e-01
13732000  7284344          141   26      1 -0.866025 -5.000000e-01

          week_day_sin  week_day_cos  weekend
0             0.781831      0.623490        0
1             0.781831      0.623490        0
2             0.781831      0.623490        0
3             0.781831      0.623490        0
4             0.781831      0.623490        0
...                ...           ...      ...
13731996     -0.974928     -0.222521        1
13731997     -0.974928     -0.222521        1
13731998     -0.974928     -0.222521        1
13731999     -0.974928     -0.222521        1
13732000     -0.974928     -0.222521        1

[13732001 rows x 9 columns]

In [9]:
mh.train_val_test_split()
print(len(mh.df_train), 'train examples')
print(len(mh.df_val), 'validation examples')
print(len(mh.df_test), 'test examples')

8788480 train examples
2197120 validation examples
2746401 test examples

In [10]:
mh.split_data()
mh.list_test[0]

,index,location_id,day,month,hour_sin,hour_cos,week_day_sin,week_day_cos,weekend
10985600,5283998,246,4,1,-0.866025,0.500000,-0.433884,-0.900969,0
10985601,5283999,107,4,1,-0.707107,0.707107,-0.433884,-0.900969,0
10985602,5284000,142,4,1,-0.707107,0.707107,-0.433884,-0.900969,0
10985603,5284001,48,4,1,-0.500000,0.866025,-0.433884,-0.900969,0
10985604,5284001,48,4,1,-0.500000,0.866025,-0.433884,-0.900969,0
...,...,...,...,...,...,...,...,...,...
10985724,5284091,234,7,1,0.000000,1.000000,0.000000,1.000000,0
10985725,5284092,162,7,1,0.258819,0.965926,0.000000,1.000000,0
10985726,5284093,142,7,1,0.500000,0.866025,0.000000,1.000000,0
10985727,5284093,142,7,1,0.500000,0.866025,0.000000,1.000000,0
10985728,5284094,239,7,1,0.500000,0.866025,0.000000,1.000000,0

In [11]:
mh.set_batch_size(128)
mh.create_batch_dataset()
mh.test_dataset

<BatchDataset shapes: ({start_place: (128, 128), start_hour_sin: (128, 128), start_hour_cos: (128, 128), weekend: (128, 128), week_day_sin: (128, 128), week_day_cos: (128, 128), end_hour_sin: (128,), end_hour_cos: (128,), end_weekend: (128,), end_week_day_sin: (128,), end_week_day_cos: (128,)}, (128,)), types: ({start_place: tf.int32, start_hour_sin: tf.float64, start_hour_cos: tf.float64, weekend: tf.int32, week_day_sin: tf.float64, week_day_cos: tf.float64, end_hour_sin: tf.float64, end_hour_cos: tf.float64, end_weekend: tf.int32, end_week_day_sin: tf.float64, end_week_day_cos: tf.float64}, tf.int32)>

In [12]:
mh.set_target_column_name('location_id')
mh.set_vocab_size()
mh.set_numerical_column_names(['start_hour_sin', 'start_hour_cos', 'weekend', 'week_day'])

In [13]:
# The embedding dimension
embedding_dim = 256

# Number of RNN units
rnn_units = 256

# Create a model
def create_model():
  N = mh.total_window_length
  batch_size = mh.batch_size
  number_of_places = mh.vocab_size

	# Shortcut to the layers package
  l = tf.keras.layers

   # Declare the dictionary for the places sequence as before
  sequence_input = {
      'start_place': tf.keras.Input((N-1,), batch_size=batch_size, dtype=tf.dtypes.int32, name='start_place') # add batch_size=batch_size in case of stateful GRU
  }

  # Handling the categorical feature sequence using one-hot
  places_one_hot = feature_column.sequence_categorical_column_with_vocabulary_list(
      'start_place', [i for i in range(number_of_places)])

  # Embed the one-hot encoding
  places_embed = feature_column.embedding_column(places_one_hot, embedding_dim)

  # With an input sequence we can't use the DenseFeature layer, we need to use the SequenceFeatures
  sequence_features, sequence_length = tf.keras.experimental.SequenceFeatures(places_embed)(sequence_input)

  sequence_features = tf.ensure_shape(sequence_features, (batch_size, N-1, sequence_features.shape[2]))

  # Rnn
  recurrent = l.GRU(rnn_units,
                        batch_size=batch_size, #in case of stateful
                        return_sequences=True,
                        stateful=True,
                        recurrent_initializer='glorot_uniform')(sequence_features)

  recurrent_2 = l.GRU(64,
                        batch_size=batch_size, #in case of stateful
                        stateful=True,
                        recurrent_initializer='glorot_uniform')(recurrent)

	# Last layer with an output for each places
  dense_1 = layers.Dense(number_of_places)(recurrent_2)

	# Softmax output layer
  output = l.Softmax()(dense_1)

	# To return the Model, we need to define its inputs and outputs
	# In out case, we need to list all the input layers we have defined
  inputs = list(sequence_input.values())

	# Return the Model
  return tf.keras.Model(inputs=inputs, outputs=output)

In [14]:
# Get the model and compile it
mh.assign_model(create_model())
mh.compile_model()

# Training

In [15]:
mh.set_num_epochs(10)
mh.fit_model()

Epoch 1/10

C:\Users\WoodPecker\Documents\Privat\HTW-Master\Sem3\PA\HumanMobilityPredictionMA\venv\lib\site-packages\tensorflow\python\keras\engine\functional.py:543: UserWarning: Input dict contained keys ['start_hour_sin', 'start_hour_cos', 'weekend', 'week_day_sin', 'week_day_cos', 'end_hour_sin', 'end_hour_cos', 'end_weekend', 'end_week_day_sin', 'end_week_day_cos'] which did not match any model input. They will be ignored by the model.
  [n for n in tensors.keys() if n not in ref_input_names])

532/532 [==============================] - 244s 459ms/step - loss: 4.1860 - sparse_categorical_accuracy: 0.0453 - val_loss: 4.0380 - val_sparse_categorical_accuracy: 0.0801
Epoch 2/10
532/532 [==============================] - 231s 434ms/step - loss: 3.9600 - sparse_categorical_accuracy: 0.1225 - val_loss: 3.7722 - val_sparse_categorical_accuracy: 0.2139
Epoch 3/10
532/532 [==============================] - 224s 421ms/step - loss: 3.8242 - sparse_categorical_accuracy: 0.1842 - val_loss: 3.6407 - val_sparse_categorical_accuracy: 0.2492
Epoch 4/10
532/532 [==============================] - 226s 426ms/step - loss: 3.7530 - sparse_categorical_accuracy: 0.2050 - val_loss: 3.5722 - val_sparse_categorical_accuracy: 0.2721
Epoch 5/10
532/532 [==============================] - 230s 433ms/step - loss: 3.7033 - sparse_categorical_accuracy: 0.2158 - val_loss: 3.5373 - val_sparse_categorical_accuracy: 0.2798
Epoch 6/10
532/532 [==============================] - 231s 435ms/step - loss: 3.6665 - sparse_categorical_accuracy: 0.2200 - val_loss: 3.5171 - val_sparse_categorical_accuracy: 0.2835
Epoch 7/10
532/532 [==============================] - 228s 428ms/step - loss: 3.6316 - sparse_categorical_accuracy: 0.2237 - val_loss: 3.5082 - val_sparse_categorical_accuracy: 0.2844
Epoch 8/10
532/532 [==============================] - 225s 422ms/step - loss: 3.5953 - sparse_categorical_accuracy: 0.2262 - val_loss: 3.5053 - val_sparse_categorical_accuracy: 0.2840
Epoch 9/10
532/532 [==============================] - 219s 412ms/step - loss: 3.5560 - sparse_categorical_accuracy: 0.2292 - val_loss: 3.5096 - val_sparse_categorical_accuracy: 0.2838
Epoch 10/10
532/532 [==============================] - ETA: 0s - loss: 3.5119 - sparse_categorical_accuracy: 0.2323Restoring model weights from the end of the best epoch.
532/532 [==============================] - 214s 402ms/step - loss: 3.5119 - sparse_categorical_accuracy: 0.2323 - val_loss: 3.5177 - val_sparse_categorical_accuracy: 0.2834
Epoch 00010: early stopping

# Evaluation

In [16]:
mh.evaluate_model()

166/166 [==============================] - 18s 108ms/step - loss: 3.5253 - sparse_categorical_accuracy: 0.2797

In [17]:
mh.model.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
start_place (InputLayer)     [(128, 128)]              0
_________________________________________________________________
sequence_features (SequenceF ((None, None, 256), (None 67584
_________________________________________________________________
tf_op_layer_EnsureShape (Ten [(128, 128, 256)]         0
_________________________________________________________________
gru (GRU)                    (128, 128, 256)           394752
_________________________________________________________________
gru_1 (GRU)                  (128, 64)                 61824
_________________________________________________________________
dense (Dense)                (128, 264)                17160
_________________________________________________________________
softmax (Softmax)            (128, 264)                0
=================================================================
Total params: 541,320
Trainable params: 541,320
Non-trainable params: 0
_________________________________________________________________

In [18]:
mh.print_test_prediction_info()

logits
Shape :  (21248, 264)
Example [0] :  [5.30494784e-04 1.64323923e-04 6.92517332e-08 4.56704402e-06
 1.03461242e-03 2.55441762e-07 4.84571387e-07 1.07182667e-03
 9.85115457e-06 3.44731689e-06 1.59870760e-05 4.05478750e-06
 1.82899064e-04 4.08092467e-03 1.87336598e-04 2.47297976e-06
 2.86690835e-07 7.24800921e-05 5.83591791e-05 2.76320662e-07
 8.42785482e-07 1.09552157e-05 2.28656427e-05 6.63835579e-07
 3.96374753e-03 2.71883589e-04 1.37602219e-05 4.18450554e-08
 1.30673854e-07 1.92502848e-05 2.39567814e-08 1.13823153e-05
 1.01036028e-06 6.29448099e-04 1.15810490e-05 2.31947683e-06
 5.33016864e-05 8.76752893e-05 4.92527943e-06 1.10343180e-05
 1.32319212e-04 5.08598331e-03 1.04681996e-03 1.33284358e-02
 9.71893996e-07 7.85556971e-04 1.07148628e-06 1.32435935e-05
 5.54284304e-02 3.17069382e-04 1.13848895e-02 9.49335390e-06
 2.81587680e-04 1.34139727e-05 2.12952837e-05 6.85843042e-06
 7.39434745e-06 3.85819277e-07 2.08405891e-06 4.52713834e-07
 7.84942858e-06 1.57606759e-04 8.57097402e-05 3.48657250e-06
 3.14261541e-08 2.91281958e-05 1.82384625e-04 4.09096247e-05
 2.49506328e-02 2.05153465e-05 8.47679257e-05 2.79854339e-06
 7.19765649e-06 1.45815320e-05 1.77075015e-03 6.60472084e-03
 4.54482688e-05 6.25620032e-06 4.83038002e-06 8.07097275e-03
 7.35543581e-05 7.80686321e-07 1.07273365e-04 9.91089400e-05
 1.13365450e-05 8.35741776e-06 2.39958149e-06 3.39072524e-03
 7.66284473e-04 5.43494461e-05 1.28591666e-02 8.56810857e-06
 2.92649638e-05 2.15924229e-05 8.58810290e-06 2.08673009e-04
 9.87939893e-06 5.50045515e-04 3.70974544e-06 7.73591040e-08
 2.57586055e-02 5.77840729e-06 7.05156481e-06 3.11047295e-08
 7.18272801e-08 1.30727443e-07 1.31329318e-04 1.36468140e-02
 1.51499620e-07 5.81736046e-08 1.68006636e-07 4.02788558e-08
 6.01546490e-04 5.19478507e-03 8.70392658e-03 5.14053454e-06
 1.22331642e-03 6.01404437e-08 1.24540720e-05 1.00313264e-04
 1.05351910e-06 1.35609662e-05 1.32881123e-05 1.01196638e-05
 2.27059581e-06 1.32227386e-03 3.36456906e-05 3.65255721e-04
 3.99261080e-05 1.80536255e-04 4.15046270e-05 1.65983511e-06
 2.09830166e-03 1.44025298e-05 1.83948964e-06 1.38257419e-05
 1.84466589e-05 3.85669572e-03 3.51576344e-03 3.72912723e-06
 8.53496697e-03 2.93385517e-02 6.21322617e-02 2.32174769e-02
 3.49509949e-03 6.24226697e-04 1.89775019e-04 4.90619459e-06
 5.13677159e-03 6.84708141e-07 6.44803777e-06 3.97302350e-03
 7.77002657e-04 2.08785768e-05 2.28093413e-07 2.81972893e-06
 1.25341771e-07 8.33197992e-05 8.09095055e-03 3.54869444e-05
 9.45299689e-05 1.13606490e-01 4.38466482e-02 6.80527240e-02
 2.40385514e-02 1.49350271e-05 6.58711419e-03 7.38565086e-06
 7.19954842e-05 3.71286187e-05 2.20892932e-02 2.80159838e-06
 6.68054236e-06 9.34764830e-05 1.70846633e-05 9.32047470e-08
 1.09971687e-07 4.88707610e-06 1.18128150e-06 4.77919297e-04
 8.30576766e-07 4.58494993e-04 2.33574883e-05 2.73310798e-06
 3.71140527e-06 6.67901304e-06 2.16133185e-02 7.56148069e-08
 2.35983171e-05 2.10294005e-04 1.85305871e-05 1.51500296e-06
 1.87775868e-06 4.90283855e-05 1.09460352e-05 1.61318058e-05
 2.36135704e-04 3.60543454e-05 2.97966362e-05 9.52622869e-08
 1.60410098e-04 2.06979394e-06 1.38116084e-04 9.61620117e-06
 7.81151428e-08 9.45005780e-08 1.41051214e-06 9.12071300e-06
 1.17860172e-05 5.72826422e-04 2.04333555e-05 3.08703049e-03
 3.52982488e-06 1.19896149e-05 1.35101243e-06 4.77166441e-06
 3.90627861e-07 3.27502712e-05 3.61621414e-06 5.83677229e-06
 2.72073725e-04 5.36174980e-08 1.48141794e-07 2.54830462e-04
 7.43180630e-04 6.95452327e-05 5.69407304e-04 9.17397119e-06
 5.03519805e-05 1.11843664e-02 3.90609875e-02 3.82541493e-03
 3.70804628e-04 3.24871228e-03 1.79375149e-02 3.57506951e-06
 4.07542363e-02 4.76024635e-02 4.07111198e-02 6.13477491e-02
 1.81982214e-05 7.61517867e-06 3.24455368e-06 3.77881713e-03
 3.78297642e-03 5.99603993e-08 2.17689015e-02 5.35125255e-05
 1.16118154e-05 7.76225189e-03 8.70360236e-06 1.51407193e-07
 3.46766456e-06 3.02541885e-08 4.27415216e-06 3.06997972e-04
 3.02013534e-04 3.01258242e-05 1.52591783e-05 3.51548515e-05
 2.25318596e-04 7.79034977e-04 6.42536860e-03 7.47106876e-03]
predictions
Shape :  (21248, 264)
Example [0] :  tf.Tensor(
[0.00377527 0.00377389 0.00377327 0.00377328 0.00377717 0.00377327
 0.00377327 0.00377731 0.0037733  0.00377328 0.00377333 0.00377328
 0.00377396 0.0037887  0.00377397 0.00377328 0.00377327 0.00377354
 0.00377349 0.00377327 0.00377327 0.00377331 0.00377335 0.00377327
 0.00378825 0.00377429 0.00377332 0.00377327 0.00377327 0.00377334
 0.00377327 0.00377331 0.00377327 0.00377564 0.00377331 0.00377328
 0.00377347 0.0037736  0.00377329 0.00377331 0.00377377 0.00379251
 0.00377722 0.00382389 0.00377327 0.00377623 0.00377327 0.00377332
 0.00398832 0.00377446 0.00381647 0.0037733  0.00377433 0.00377332
 0.00377335 0.00377329 0.00377329 0.00377327 0.00377327 0.00377327
 0.0037733  0.00377386 0.00377359 0.00377328 0.00377327 0.00377338
 0.00377395 0.00377342 0.0038686  0.00377334 0.00377359 0.00377328
 0.00377329 0.00377332 0.00377995 0.00379827 0.00377344 0.00377329
 0.00377328 0.00380384 0.00377354 0.00377327 0.00377367 0.00377364
 0.00377331 0.0037733  0.00377328 0.00378608 0.00377616 0.00377347
 0.0038221  0.0037733  0.00377338 0.00377335 0.0037733  0.00377405
 0.0037733  0.00377534 0.00377328 0.00377327 0.00387172 0.00377329
 0.00377329 0.00377327 0.00377327 0.00377327 0.00377376 0.00382511
 0.00377327 0.00377327 0.00377327 0.00377327 0.00377554 0.00379292
 0.00380625 0.00377329 0.00377789 0.00377327 0.00377331 0.00377365
 0.00377327 0.00377332 0.00377332 0.0037733  0.00377328 0.00377826
 0.00377339 0.00377464 0.00377342 0.00377395 0.00377342 0.00377327
 0.00378119 0.00377332 0.00377327 0.00377332 0.00377334 0.00378785
 0.00378656 0.00377328 0.00380561 0.00388561 0.00401514 0.0038619
 0.00378648 0.00377562 0.00377398 0.00377329 0.0037927  0.00377327
 0.00377329 0.00378829 0.0037762  0.00377335 0.00377327 0.00377328
 0.00377327 0.00377358 0.00380392 0.0037734  0.00377362 0.00422723
 0.00394239 0.00403899 0.00386507 0.00377332 0.0037982  0.00377329
 0.00377354 0.00377341 0.00385754 0.00377328 0.00377329 0.00377362
 0.00377333 0.00377327 0.00377327 0.00377329 0.00377327 0.00377507
 0.00377327 0.003775   0.00377335 0.00377328 0.00377328 0.00377329
 0.00385571 0.00377327 0.00377336 0.00377406 0.00377334 0.00377327
 0.00377327 0.00377345 0.00377331 0.00377333 0.00377416 0.0037734
 0.00377338 0.00377327 0.00377387 0.00377327 0.00377379 0.0037733
 0.00377327 0.00377327 0.00377327 0.0037733  0.00377331 0.00377543
 0.00377334 0.00378493 0.00377328 0.00377331 0.00377327 0.00377328
 0.00377327 0.00377339 0.00377328 0.00377329 0.00377429 0.00377327
 0.00377327 0.00377423 0.00377607 0.00377353 0.00377542 0.0037733
 0.00377346 0.0038157  0.00392357 0.00378773 0.00377467 0.00378554
 0.00384156 0.00377328 0.00393022 0.00395723 0.00393005 0.004012
 0.00377334 0.0037733  0.00377328 0.00378755 0.00378757 0.00377327
 0.00385631 0.00377347 0.00377331 0.00380267 0.0037733  0.00377327
 0.00377328 0.00377327 0.00377328 0.00377443 0.00377441 0.00377338
 0.00377332 0.0037734  0.00377412 0.00377621 0.00379759 0.00380156], shape=(264,), dtype=float32)
predicted_classes
Shape :  (21248,)
Example [0] :  161
actual_values
Shape :  (21248,)
Example [0] :  239
diff
Shape :  (21248,)
Example [0] :  78
Prediction # 0
Actual values:  239
Predicted values:  161
Prediction # 1
Actual values:  158
Predicted values:  107
Prediction # 2
Actual values:  100
Predicted values:  158
Prediction # 3
Actual values:  48
Predicted values:  234
Prediction # 4
Actual values:  238
Predicted values:  161
Prediction # 5
Actual values:  90
Predicted values:  141
Prediction # 6
Actual values:  236
Predicted values:  13
Prediction # 7
Actual values:  48
Predicted values:  170
Prediction # 8
Actual values:  229
Predicted values:  229
Prediction # 9
Actual values:  263
Predicted values:  263
Prediction # 10
Actual values:  162
Predicted values:  162
Prediction # 11
Actual values:  144
Predicted values:  144
Prediction # 12
Actual values:  138
Predicted values:  211
Prediction # 13
Actual values:  161
Predicted values:  161
Prediction # 14
Actual values:  113
Predicted values:  170
Prediction # 15
Actual values:  164
Predicted values:  163
Prediction # 16
Actual values:  75
Predicted values:  230
Prediction # 17
Actual values:  162
Predicted values:  148
Prediction # 18
Actual values:  162
Predicted values:  263
Prediction # 19
Actual values:  229
Predicted values:  87
# correct Predictions :  5943
# wrong Predictions :  15305
accuracy:  0.2796969126506024

The assumption proved correct.
Using only the location history and no time components at all results in a similar prediction quality.
That means that the network can predict the next location on the last locations.

Note after evaluating the central model prediction:
The behaviour of the model makes sense as it mostly predicts the user to remain in the same area.
Thus, time components are irrelevant.